// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
  padding-top: 50px;
}

.container{
  background-color: white;
}

.back-link {
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

li {
  list-style: none;
  display: inline;
}
